<footer class="footer-post">
    <ul id="social-links">
        <a href="http://www.twitter.com/jabcolo33" target="_blank">Twitter</a>
        <a href="http://www.github.com/jaimebarriga" target="_blank">Github</a>
        <a href="/blog/rss/">Subscribe</a>
    </ul>
    <span id="rights">Copyright {{date format='YYYY'}} {{@blog.title}} All rights Reserved</span>
</footer>