.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    position: relative;
    width: 100%;
    height: 30%;
    min-height: 300px;
  }
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
  transition: background-position 0.0s linear;
  //animation: translator 300s infinite;
  //-webkit-animation: translator 300s infinite;
}
/*
@keyframes translator {
  from {background-position: 0% 50%}
  to {background-position: 500% 50%}
}

@-webkit-keyframes translator {
  from {background-position: 0% 50%;}
  to {background-position: 500% 50%;}
}
*/

.cover-container {
  font-family: "Lato", sans-serif;
  position: absolute;
  bottom: 0;
  padding: 50px 10% 10%;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  @include breakpoint(medium) {
    text-align: center;
    padding: 0 15px;
  }
}

.cover-logo {
  img {
    border: 3px solid #fff;
    border-radius: 50%;
    border-radius: 50%;
    max-height: 100px;
    transition: opacity .3s ease-in-out;
    box-shadow:
      0 0 3px 3px rgba(0, 0, 0, 0.3),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {
    img {
      opacity: .85;
    }
  }
}

.cover-title {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
}

.cover-description {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 8px 0;
  color: #ccc;
}

.cover-footer {
  padding: 8px 0;
  a {
    color: #f8ca00;
    text-decoration: none;
    background: transparent;
    font-family: FontAwesome;
  }
}


